# Copia este archivo como .env y rellena los valores reales
# cp .env.example .env

# Django
SECRET_KEY=cambia-esto-por-una-clave-secreta-larga
DEBUG=True

# Base de datos PostgreSQL
# ── Base de datos LOCAL (Docker) — activa ──
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433

# Correo (opcional)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=tucorreo@gmail.com
EMAIL_HOST_PASSWORD=tu_contraseña_de_aplicacion
